{{ form_start(form, {'attr': {'class': 'row'}}) }}
<div class="input-field col s12 m12 l12">
    <input type="submit" name="" value="Supprimer" class="btn btn-primary">
    <input type="reset" name="" value="Annuler" class="btn btn-primary">
</div>
{{ form_end(form) }}